body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#start-screen {
  text-align: center;
}

#start-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-button:hover {
  background-color: #10cb42;
}

#start-button:focus {
  outline: none;
}

#board {
  display: none;
  background-image: url("/bg.png");
  height:95vh;
}
